@font-face{
	font-family: 'Avenir Roman';
	src:url('../avenir/Avenir-Roman.otf');
}
.navbar {
    list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	position: fixed;
	width: auto;
    height: 100%;
	top: 0;
	left: 0;
	background-color: #333;
}

li {
    font-family: 'Avenir Roman';
    float: top;
    display: block;
    color: white;
    text-align: left;
    padding: 14px 16px;
    background-color: inherit;
    border: none;
}

a {
    font-family: 'Avenir Roman';
    color: white;
    text-decoration: none;
}

object {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 950px; 
}
li:hover:not(.active) {
	background-color: #111;
}

.active {
	background-color: #4CAF50;
}
.container {
    width: 80%;
    margin-left: 100px;
    padding: 20px;
    padding-top: 0px;
}
section .container {
    width: 80%;
    margin-left: 100px;
    margin: auto;
    padding: 20px;
}

h2 {
    font-family: 'Avenir Roman';
    font-weight: bold;
    color: #4CAF50;
}
